[user]
name = Alireza
email = 91642447+a7ir3za@users.noreply.github.com 
[diff]
	tool = vimdiff
[alias]
	br = branch
	co = checkout
	ct = commit
	gl = log --all --graph --decorate --format=gline
[tag]
	sort = -creatordate
[pretty]
	gline = "%C(auto)%h%d %s [%cn; %C(yellow)%cr%C(auto)]"
